@media screen and (min-width: 1919px) {
    .faq .container {
        max-width: 1920px;
    }
    .accordion label {
        max-width: 1060px;
    }
    .accordion-block {
        max-width: 1002px;
    }
}
@media screen and (max-width: 1390px) {
    .faq-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .faq-img {
        text-align: center;
        margin-bottom: 18px;
    }
    .faq-info-title-text {
        display: block;
    }
    .faq-info-title {
        text-align: center;
    }
    .faq .container {
        max-width: 800px;
    }
}
@media screen and (max-width: 769px) {
    .faq {
        padding: 20px 10px 20px 10px;
    }
}
@media screen and (max-width: 431px) {
    .faq-img img {
        width: 300px;
    }
    .faq-info-title {
        font-size: 32px;
    }
    .toggle-box + label {
        font-size: 18px;
    }
    .faq {
        padding: 20px 15px 20px 15px;
    }
    .accordion-block {
        max-width: 320px;
    }
}
@media screen and (max-width: 376px) {
    .accordion-block {
        max-width: 276px;
    }
}
@media screen and (max-width: 321px) {
    .faq-img img {
        width: 250px;
    }
    .faq-info-title {
        font-size: 28px;
    }
    .accordion label {
        max-width: 280px;
    }
    .toggle-box + label {
        font-size: 14px;
    }
    .accordion-block {
        max-width: 230px;
    }
    .toggle-box + label:before {
        font-size: 40px;
        width: 4px;
    }
}
